.subtaskbar{
  width: 100%;
  height: 25px;
  background-color: #DDF0E7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: grab;
  transition: box-shadow .2s ease;
  img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &.done {
    background-color: #DDF0E7; // سبز کم‌رنگ
  }

  &.not-done {
    background-color: #E0E0E0; // خاکستری
  }

}